body{
  @include kleuren($achtergrondkleur, $tekstkleur);
  font-family: $lettertype;
}
h1, h2{
  font-family: $alternatief;
  @include kleuren($achtergrondkleur, $tekstkleur);
  margin-bottom: $afstand*3;
  margin-top: $afstand;
}
img{
  width: 100%;
  border-radius: 5%;
  margin-top: 30px;
}
footer{
  @include kleuren($achtergrondkleur, $tekstkleur);
  padding-top: 10px;
  text-align: center;

}

